<div class="page-title">
  <div class="title_left">
    <h3>Match Listing</h3>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Games List</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Series Name</th>
              <th>Venue</th>
              <th>Match type</th>
              <th>First team</th>
              <th>Second team</th>
              <th>Home team</th>
              <th>First team score</th>
              <th>Second team score</th>
              <th>Result</th>
              <th>Winning team</th>
              <th colspan="3">Action</th>
            </tr>
          </thead>
          <tbody>
          <% @games.each do |game| %>            
            <tr>
              <td><%= Series.series_name(game.series_id) %></td>
              <td><%= Venue.venue_name(game.venue_id) %></td>
              <td><%= game.game_type %></td>
              <td><%= Team.team_name(game.first_team) %></td>
              <td><%= Team.team_name(game.second_team) %></td>
              <td><%= Team.team_name(game.home_team) %></td>
              <td><%= game.first_team_score %></td>
              <td><%= game.second_team_score %></td>
              <td><%= game.result %></td>
              <td><%= Team.team_name(game.winning_team) %></td>
              <td><%= link_to 'Edit', edit_game_path(game) %></td>
              <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>              
            </tr>
          <% end %>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>

<%= link_to 'Add New Game', new_game_path %>
