<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @series.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @series.start_date %>
</p>

<p>
  <strong>Participant teams:</strong>
  <%= @series.participant_teams %>
</p>

<p>
  <strong>Winner team:</strong>
  <%= @series.winner_team %>
</p>

<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
